$smTitle-color: #6F7884;
$footer-title-color0: #36515c;
$bg-color: #152024;
$bg-color3: #263b43d6;
$default-color:#164270;
$default-color-light:#4fa4ff;
$lgTitle-color: #ffffff18;

$bg-color2: #000000a1;


$DB: #172F49;
$DBs: #172f498e;

$LB: #254367;

$G: #003641;
$Gs: #003641e4;

$B: #585858;
$Bs: #5858585f;

$Y: #EECE95;
$Ys: #eecd95e0;
$Yd: #ebc481;

$W: #e5e5e5;
$Wd: #bcbcbc;
$Ws: #e5e5e554;

div {
}

$FontFamily: "Open Sans", Tahoma, Arial, Helvetica;

